{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
  <div class="pcoded-main-container" xmlns="http://www.w3.org/1999/html">
        <div class="pcoded-content">
            <!-- [ Main Content ] start -->
            <div class="row">
                <!-- order-card start -->
                <div class="col-md-6 col-xl-3">
                    <div class="card bg-c-green order-card">
                        <div class="card-body">
                            <h4 class="text-white">My Tasks Completed</h4>
                            <h3 class="text-end text-white"><span>{{ completed_tasks }}</span>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="card bg-c-yellow order-card">
                        <div class="card-body">
                            <h4 class="text-white">My Tasks In Progress</h4>
                            <h3 class="text-end text-white"><span>{{ in_process_tasks }}</span></h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                </div>
                <!-- Customer overview start -->
              <div class="card table-card">
                        <div class="card-header">
                          <h3><span class="badge text-c-blue">My Tasks List</span></h3>
                        </div>
                        <div class="card-body p-0">
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                                    <div class="table-responsive">
                                        <div class="customer-scroll" style="height:362px;position:relative;">
                                            <table class="table table-hover m-b-0">
                                                <thead>
                                                    <tr class="text-center">
                                                        <th><h5><span class="badge bg-c-blue">Task Name</span></h5></th>
                                                        <th><h5><span class="badge bg-c-blue">Project</span></h5></th>
                                                        <th><h5><span class="badge bg-c-blue">Deadline</span></h5></th>
                                                        <th><h5><span class="badge bg-c-blue">Status</span></h5></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                {% if user_task %}
                                                  {% for task in user_task %}
                                                    <tr class="text-center">
                                                      <td class="fs-5 fw-bold rounded-1"><a class="link-info" href="{% url "manager:task_management_detail" pk=task.id %}">{{ task.name }}</a></td>
                                                      <td class="fs-5 fw-bold rounded-1">{{ task.project }}</td>
                                                      <td class="fs-5 fw-bold rounded-1">{{ task.deadline }}</td>
                                                      {% if task.is_completed %}
                                                      <td class="fs-6 fw-bold rounded-1"><span class="text-white fs-6 fw-bold rounded-1 bg-success p-1">Completed</span></td>
                                                        {% else %}
                                                        <td class="fs-6 fw-bold rounded-1"><span class="text-white fs-6 fw-bold rounded-1 bg-danger p-1">In process</span></td>
                                                      {% endif %}
                                                    </tr>
                                                {% endfor %}
                                                  {% else %}
                                                    <tr class="text-center">
                                                      <td class="fs-5 fw-bold rounded-1">Empty</td>
                                                    </tr>
                                                {% endif %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card table-card">
                        <div class="card-header d-flex justify-content-between">
                          <h3><span class="badge text-c-blue">Statistics of other people</span></h3>
                          {% include "includes/pagination.html" with page_obj=page_obj paginator=paginator %}
                        </div>
                        <div class="card-body p-0">
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                                    <div class="table-responsive">
                                        <div class="customer-scroll" style="height:362px;position:relative;">
                                            <table class="table table-hover m-b-0">
                                                <thead>
                                                    <tr class="text-center">
                                                        <th><h5><span class="badge bg-c-blue">Username</span></h5></th>
                                                        <th><h5><span class="badge bg-c-green">Completed Task</span></h5></th>
                                                        <th><h5><span class="badge bg-c-yellow">Task in Process</span></h5></th>
                                                        <th><h5><span class="badge bg-c-blue">Position</span></h5></th>
                                                        <th><h5><span class="badge bg-c-blue">Team</span></h5></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                {% if page_obj.object_list %}
                                                  {% for user in page_obj.object_list %}
                                                    <tr class="text-center">
                                                        <td class="fs-5 fw-bold rounded-1"><a class="link-info" href="{% url "manager:user_profile" pk=user.id %}">{{ user.username }}</a></td>
                                                        <td class="fs-5 fw-bold rounded-1">{{ user.completed_tasks_count }}
                                                            <div class="progress mt-1" style="height:4px;">
                                                                <div class="progress-bar bg-success rounded" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                                            </div>
                                                        </td>
                                                        <td class="fs-5 fw-bold rounded-1">{{ user.in_progress_tasks_count }}
                                                            <div class="progress mt-1" style="height:4px;">
                                                                <div class="progress-bar bg-warning rounded" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                                                            </div>
                                                        </td>
                                                      <td class="fs-5 fw-bold rounded-1">{{ user.position }}</td>
                                                      <td class="fs-5 fw-bold rounded-1">{{ user.team }}</td>
                                                    </tr>
                                                {% endfor %}
                                                  {% else %}
                                                  <tr>
                                                    <td class="fs-5 fw-bold rounded-1">Empty</td>
                                                  </tr>
                                                {% endif %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <!-- Customer overview end -->
            </div>
            <!-- [ Main Content ] end -->
        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <!-- Apex Chart -->
    <script src="/static/assets/js/plugins/apexcharts.min.js"></script>

    <!-- custom-chart js -->
    <script src="/static/assets/js/pages/dashboard-main.js"></script>

{% endblock javascripts %}
