{% extends "layouts/base.html" %}
{% load crispy_forms_filters %}

{% block title %} Sample page {% endblock %}

{% block stylesheets %}
    <!-- Підключаємо стилі Select2 -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet">
    <style>
        html, body {
        overflow-x: hidden;
        }

    .pcoded-main-container, .pcoded-content, .card-body {
        overflow-x: hidden;
        }
    </style>
{% endblock stylesheets %}

{% block content %}
<div class="pcoded-main-container">
    <div class="pcoded-content">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h5>Update Profile</h5>
                    </div>
                    <div class="card-body">
                        <form action="" method="post" novalidate>
                            {% csrf_token %}
                            {{ form|crispy }}

                            <input type="submit" value="Submit" class="btn btn-primary">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}