	<!-- [ navigation menu ] start -->
	<nav class="pcoded-navbar menupos-fixed menu-light ">
		<div
			class="navbar-wrapper  ">
			<div class="navbar-content scroll-div "
				>
				<ul class="nav pcoded-inner-navbar ">
					<li class="nav-item pcoded-menu-caption">
						<label>Navigation</label>
					</li>
					<li class="nav-item">
						<a href="/" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span
								class="pcoded-mtext">Home</span></a>
					</li>
					<li class="nav-item pcoded-menu-caption">
						<label>Tasks</label>
					</li>
					<li class="nav-item">
						<a href="/bc_typography.html" class="nav-link "><span class="pcoded-micon"><i
									class="feather icon-layers"></i></span><span class="pcoded-mtext">Task Management</span></a>
					</li>
					<li class="nav-item pcoded-menu-caption">
						<label>Projects</label>
					</li>
					<li class="nav-item">
						<a href="/tbl_bootstrap.html" class="nav-link "><span class="pcoded-micon"><i
									class="feather icon-box"></i></span><span class="pcoded-mtext">Project Management</span></a>
					</li>
					<li class="nav-item pcoded-menu-caption">
						<label>teams</label>
					</li>
					<li class="nav-item">
						<a href="/chart-apex.html" class="nav-link "><span class="pcoded-micon"><i
									class="feather icon-users"></i></span><span class="pcoded-mtext">Team Management</span></a>
					</li>
					<li class="nav-item pcoded-menu-caption">
						<label>Help</label>
					</li>
					<li class="nav-item"><a href="/sample-page.html" class="nav-link "><span class="pcoded-micon"><i
									class="feather icon-info"></i></span><span class="pcoded-mtext">How to use this app?</span></a></li>
				</ul>

				<div class="card text-center">
				</div>

			</div>
		</div>
	</nav>
	<!-- [ navigation menu ] end -->
    